<div class="container-fluid info-section">
    <div class="container">
        <h2 class="title-section header">Experiencia <a type="button" (click)="openDialog()"><i class="fa fa-plus"></i></a></h2>
        <div class="row" *ngFor="let exp of experiencia">
            <div class="col-sm-12 col-lg-2 img">
                <img [src]="exp.logo_empresa">
            </div>
            <div class="col">
                <h4>{{exp.nombre}}</h4>
                <div class="icons-edit">
                    <a class="fa fa-pen rounded float-end delete-pen"></a>
                </div>
                <p class="period">{{exp.periodo}}</p>
                <p class="work-description">{{exp.descripcion}}</p>
            </div>
            
        </div>

        
    </div>

</div>
<hr>