
<div class="container-fluid info-section">
    <div class="container">
        <h2 class="title-section header">Experiencia <a *ngIf="isLogged" (click)="openDialog()" type="button"><i class="fa fa-plus"></i></a></h2>
        <div *ngIf="experiencia[0] == null" class="no-info-message">
            <p>¡Oops! No hay información sobre tu experiencia por aquí...</p>
        </div>
        <div class="row" *ngFor="let exp of experiencia">
            <div class="col-sm-6 col-lg-2 img">
                <img [src]="exp.logo_empresa">
            </div>
            <div class="col">
                <h4>{{exp.nombre}}</h4>
                <div class="icons-edit">
                    <a *ngIf="isLogged" (click)="openEditDialog(exp)" class="fa fa-pen rounded float-end delete-pen"></a>
                </div>
                <p class="period">{{exp.periodo}}</p>
                <p class="work-description">{{exp.descripcion}}</p>
            </div>
            
        </div>

        
    </div>


</div>
<hr>