<nav class="navbar container-fluid row"> 
    <div class="container col-sm-1">
        <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png" class="logo rounded float-start" >
    </div>  
    
    <div class="container-fluid col-sm-11 ">
        <ol class="socials">
            <i *ngIf="isLogged" (click)="openEditLinksDialog()" title="Editar enlaces" class="fa fa-link edit-button"></i>
            <a *ngIf="header.urlig != null" [href]="header.urlig" target="_blank"><i class="fa fa-instagram"></i></a>
            <a *ngIf="header.urlig != null" [href]="header.urlgh" target="_blank"><i class="fa fa-github"></i></a>
            <a *ngIf="header.urlig != null" [href]="header.urllink" target="_blank"><i class="fa fa-linkedin"></i></a>
        </ol>
        <button (click)="openDialog()" *ngIf="!isLogged" class="btn btn-light" id="btn-login"><i class='fas fa-sign-in-alt'></i> Log in</button>
        <button (click)="onLogout()" *ngIf="isLogged" class="btn btn-light" id="btn-logout"><i class='fas fa-sign-in-alt'></i> Log out</button>
    </div>
        
</nav>
<header>
    <div class="container-fluid banner">
        <div id="welcome-msg">
            <h2>Hi, welcome to my portfolio!</h2>
        </div>
    </div>
</header>

