
<div class="row container-fluid">
    <img class="profilepic col-md-6" src="../assets/profilepic.png">
    <div class="col-md-6 info-profile">
        <h2 id="name">{{aboutData.name}} <a>  <i class="fa fa-pen"></i></a></h2>
        <h4 id="position">{{aboutData.position}}</h4>
    </div>
</div>
    <div class="container-fluid about">
        <div class="container">
            <h2 class="title-section header">Acerca de<a><i class="fa fa-pen"></i></a></h2>
            <p>{{aboutData.about}}</p>
        </div>
        
    </div>

    <hr>