
<div class="row container-fluid">
    <img class="profilepic col-md-6" src="../assets/profilepic.png">
    <div class="col-md-6 info-profile">
        <h2 id="name">Nazareno Bucciarelli<a>  <i class="fa fa-pen"></i></a></h2>
        <h4 id="position">Full Stack Developer Jr.</h4>
    </div>
</div>
    <div class="container-fluid about">
        <div class="container">
            <h2 class="title-section header">Acerca de<a><i class="fa fa-pen"></i></a></h2>
            <p>Me encuentro realizando el primer año de una carrera técnica de desarrollo de software. Tengo 19 años, llevo un año aprendiendo en el mundo de la programación y es algo que considero apasionante y dinámico. Estoy interesado en conseguir mi primer experiencia laboral en el campo desenvolviéndome como Jr. He realizado proyectos en Java, Python y sitios web con HTML, CSS Y JavaScript. Estoy en la segunda etapa del programa "Argentina Programa", de la cual me certifico con el titulo de "Desarrollador Web Full-Stack Jr.", aproximadamente en Enero del año siguiente ya lo estaré finalizando. De mi persona puedo destacar mis buenas habilidades comunicativas, responsabilidad, respeto, empatía y la disposición a estar constantemente mejorando, ya sea laboralmente o como persona.</p>
        </div>
        
    </div>

    <hr>