
<div class="row container-fluid">
    <img class="profilepic col-md-6" [src]="persona.img">
    <div class="col-md-6 info-profile">
        <h2 id="name">{{persona.nombre}} {{persona.apellido}} <a class="fa fa-pen"></a></h2>
        <h4 id="position">{{persona.profesion}}</h4>
        <a [href]="persona.urlcv" target="_blank" class="btn btn-secondary">Ver CV</a>
    </div>
</div>
    <div class="container-fluid about">
        <div class="container">
            <h2 class="title-section header">Acerca de
                
            </h2>
            
            <p>{{persona.sobremi}}</p>
        </div>
        
    </div>

    <hr>