<hr>
<div class="container">
    <div class="row">
        <div style="flex-shrink:100;" class="col-sm-12 col-md section">
            <div class="container header">
                <h2 class="title-section">Certificaciones</h2>
                <a *ngIf="isLogged" (click)="openNewCertificationDialog()"><i class="fa fa-plus"></i></a>
            </div>
            <p class="no-info-message" *ngIf="certificationsData[0] == null">¡Oops! No he encontrado certificaciones por
                aqui...</p>
            <ngb-carousel #carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
                (slide)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let cert of certificationsData">
                        <div class="picsum-img-wrapper">
                            <div class="container-pen">
                                <a *ngIf="isLogged" (click)="openEditCertificationDialog(cert)" class="fa fa-pen rounded float-end delete-cert"></a>
                            </div>
                            <img [src]="cert.url_certificado" class="d-block w-100" alt="Imagen de certificado" />
                        </div>
                </ng-template>
            </ngb-carousel>

        </div>
        <div style="flex-shrink:100;" class="col-sm-12 col-md section">
            <div class="container header">
                <h2 class="title-section">Proyectos</h2>
                <a *ngIf="isLogged" (click)="openNewProjectDialog()"><i class="fa fa-plus"></i></a>
            </div>
            <p class="no-info-message" *ngIf="projectsData[0] == null">¡Oops! No he encontrado proyectos por aqui...</p>
            <div *ngIf="projectsData[0] != null" id="scroll">

                <div class="texto">
                    <div class="card" *ngFor="let proyecto of projectsData">
                        <div class="row no-gutters">
                            <div class="col-sm-7 cont-img">
                                <img class="card-img" [src]="proyecto.url_imagen" alt="Imagen sobre un proyecto">
                            </div>
                            <div class="col-sm-5">
                                <div class="card-body">
                                    <h5 class="card-title">{{proyecto.nombre}} </h5>
                                    <div class="icons-edit">
                                        <a *ngIf="isLogged" (click)="openEditProjectDialog(proyecto)"
                                            class="fa fa-pen rounded float-end delete-card"></a>
                                    </div>
                                    <p class="card-subtitle text-muted">{{proyecto.fecha}}</p>
                                    <p class="card-text">{{proyecto.descripcion}}</p>
                                    <a [href]="proyecto.github_link" target="_blank" class="btn btn-dark mt-3">Ver
                                        código <i class="fa fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>