<hr>
    <div class="container">
        <div class="row">
            <div class="col sm-12 section">
                <div class="container header">
                    <h2 class="title-section">Certificaciones</h2>
                    <a><i class="fa fa-plus"></i></a>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let certificado of certificationsData">
                        <img [src]="certificado.imgurl" class="d-block w-100" alt="Imagen de un certificado">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                
            </div>
            <div class="col sm-12 section">
                <div class="container header">
                    <h2 class="title-section">Proyectos</h2>
                    <a><i class="fa fa-plus"></i></a>
                </div>
                
                <div id="scroll">

                        <div class="texto">
                            <div class="card" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="col-sm-7 cont-img">
                                        <img class="card-img" src="../assets/project1.png" alt="Imagen sobre un proyecto">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body">
                                            <h5 class="card-title">PROYECTAR<i class="fa fa-trash rounded float-end delete-card"></i> </h5>
                                            <p class="card-subtitle text-muted">30 May 2021</p>
                                            <p class="card-text">Pagina web realizada con HTML, CSS Y JavaScript. Diseño adaptable.</p>
                                            <a href="#" class="btn btn-dark mt-3">Ver código  <i class="fa fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="col-sm-7 cont-img">
                                        <img class="card-img" src="../assets/project2.png" alt="Imagen sobre un proyecto">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body">
                                            <h5 class="card-title">GoLabs<i class="fa fa-trash rounded float-end delete-card"></i></h5>
                                            <p class="card-subtitle text-muted">24 May 2021</p>
                                            <p class="card-text">Pagina web realizada con HTML y CSS. Diseño adaptable.</p>
                                            <a href="#" class="btn btn-dark mt-3">Ver código  <i class="fa fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="col-sm-7 cont-img">
                                        <img class="card-img" src="../assets/project3.png" alt="Imagen sobre un proyecto">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body">
                                            <h5 class="card-title">BucciarelliWebDev<i class="fa fa-trash rounded float-end delete-card"></i></h5>
                                            <p class="card-subtitle text-muted">1 Abr 2022</p>
                                            <p class="card-text">Pagina web de mi marca personal, fue realizada con el fin de ejercitar tecnologías de frontend. Realizada con HTML, CSS y JavaScript. Diseño adaptable.</p>
                                            <a href="#" class="btn btn-dark mt-3">Ver código  <i class="fa fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="col-sm-7 cont-img">
                                        <img class="card-img" src="../assets/project4.png" alt="Imagen sobre un proyecto">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body">
                                            <h5 class="card-title">Nintendo Web<i class="fa fa-trash rounded float-end delete-card"></i></h5>
                                            <p class="card-subtitle text-muted">18 Ene 2022</p>
                                            <p class="card-text">Pagina web realizada con HTML y CSS para un curso de JAA (Junior Achievement Argentina)</p>
                                            <a href="#" class="btn btn-dark mt-3">Ver código  <i class="fa fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="col-sm-7 cont-img">
                                        <img class="card-img" src="../assets/project5.png" alt="Imagen sobre un proyecto">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body">
                                            <h5 class="card-title">Parqueadero-Soft<i class="fa fa-trash rounded float-end delete-card"></i></h5>
                                            <p class="card-subtitle text-muted">3 Abr 2022</p>
                                            <p class="card-text">Parking-Soft es una aplicación de escritorio hecha con Java y conectada a una base de datos MySQL, es funcional para estacionamientos. Consiste en una interfaz de usuario principal que contiene 4 botones para navegar.</p>
                                            <a href="#" class="btn btn-dark mt-3">Ver código  <i class="fa fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="col-sm-7 cont-img">
                                        <img class="card-img" src="../assets/project6.png" alt="Imagen sobre un proyecto">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-body">
                                            <h5 class="card-title">League Of Roulette<i class="fa fa-trash rounded float-end delete-card"></i></h5>
                                            <p class="card-subtitle text-muted">18 Mar 2022</p>
                                            <p class="card-text">Una simple aplicación de escritorio hecha con Java, que te muestra en pantalla un personaje random de League of Legends que tendrás que jugar. Se utilizó Swing para la interfaz.</p>
                                            <a href="#" class="btn btn-dark mt-3">Ver código  <i class="fa fa-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>   
        </div> 
    </div>